{% extends "base.html" %}
{% block content %}
<h2>Sign up form</h2>
<form method="post">
    <div class="group-username">
        <label>username</label>
        <input class="form-control" type="text" name="username" value="{{username}}">
        <span>{{username_error}}</span>
    </div>
    <div class="group-password">
        <label>password</label>
        <input class="form-control" type="password" name="password">
        <span>{{password_error}}</span>
    </div>
    <div class="group-verify">
        <label>verify password</label>
        <input class="form-control" type="password" name="verify">
        <span>{{verify_error}}</span>
    </div>
    <div class="group-email">
        <label>email</label>
        <input class="form-control" type="text" name="email" value="{{email}}">
        <span>{{email_error}}</span>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{% endblock %}